{% extends 'back/base.html' %} 
{% load static %} 

{% block headerblock %}
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
            
{% endblock %}



{% block mainblock %}

  <!-- Datatables Header -->
  <div class="content-header">
    <div class="header-section">
      <h1>
        <i class="fa fa-table"></i>Setting<br /><small
          >You can add, edit and detele your data ! </small
        >
      </h1>
    </div>
  </div>
  <ul class="breadcrumb breadcrumb-top">
    <li>Site</li>
    <li><a href="/panel/setting">Settings</a></li>
  </ul>
  <!-- END Datatables Header -->

  

            <div class="table-responsive">

                <div class="row">
                    <div class="col-md-12">
                        <!-- Basic Form Elements Block -->
                        <div class="block">
                            <!-- Basic Form Elements Title -->
                            <div class="block-title">
                                <h2><strong>Site</strong> Settings</h2>
                            </div>
                            <!-- END Form Elements Title -->


                            <!-- Basic Form Elements Content -->
                            <form action="{% url 'main:site_setting' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                               {% csrf_token %}
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <input type="text" id="name" name="name" value="{{site.title}}" class="form-control" placeholder="Site Title">
                                    </div>
                                    <div class="col-md-6">

                                        <input type="text" id="tell" name="tell" value="{{site.tel}}" class="form-control" placeholder="Site Tell">

                                    </div>
                                </div>       

                                <div class="form-group">
                                    <div class="col-md-6">
                                        <input type="text" id="fb" name="fb"  value="{{site.facebook}}" class="form-control" placeholder="Facebook">
                                    </div>
                                    <div class="col-md-6">

                                        <input type="text" id="tw" name="tw" value="{{site.twitter}}" class="form-control" placeholder="Twitter">

                                    </div>
                                </div> 

                                <div class="form-group">
                                    <div class="col-md-6">
                                        <input type="text" id="yt" name="yt" value="{{site.youtube}}"  class="form-control" placeholder="Youtube">
                                    </div>
                                    <div class="col-md-6">

                                        <input type="text" id="link" name="link" value="{{site.link}}" class="form-control" placeholder="Link">

                                    </div>
                                </div> 


                         

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <textarea type="text" id="txt" name="txt" row="5" class="form-control" placeholder="Short text">
                                            {{site.about}}
                                        </textarea>
                                    </div>
                                </div> 
                                
                                <script>
                                    CKEDITOR.replace( 'txt' );
                                </script>


                                <div class="form-group">
                                    <div class="col-md-6">
                                        <input type="file" id="myfile" name="myfile" row="20" class="form-control" placeholder="Body text">
                                    </div>
                                </div> 
                               
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                                    </div>
                                </div> 

                           
                               
                            </form>
                            <!-- END Basic Form Elements Content -->
                        </div>
                        <!-- END Basic Form Elements Block -->
                    </div>

                    
        <!-- END Datatables Content -->

  {% endblock %}


  {% block footerblock %}
        <!-- Load and execute javascript code used only in this page -->
        <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
        <script>$(function(){ TablesDatatables.init(); });</script>

{% endblock %}



  